## .NET build artifacts
[Bb]in/
[Oo]bj/
*.binlog

## Visual Studio / Rider
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.vs/

## Xamarin/Mono
*.keystore

## User-specific files
*.user

## OS files
.DS_Store
Thumbs.db

## Android
*.ap_
*.aab
*.apk
!*.Signed.apk